<launch>
    <arg name="joints_map_file"  default="$(find champ_config)/config/joints/joints.yaml"/>
    <arg name="links_map_file"   default="$(find champ_config)/config/links/links.yaml"/>
    <arg name="gait_config_file" default="$(find champ_config)/config/gait/gait.yaml"/>
    <arg name="description_file" default="$(find champ_description)/urdf/champ.urdf"/>
    <arg name="base_frame"       default="odom"/>
    <arg name="has_imu"          default="true" />
    <arg name="rviz"             default="false"/>
    <arg name="gazebo"           default="false" />
    <arg name="lite"             default="false" />
    <arg name="laser"            default="sim"/>

    <include file="$(find champ_bringup)/launch/bringup.launch">
        <arg name="joints_map_file"  value="$(arg joints_map_file)"/>
        <arg name="links_map_file"   value="$(arg links_map_file)"/>
        <arg name="gait_config_file" value="$(arg gait_config_file)"/>
        <arg name="description_file" value="$(arg description_file)"/>
        <arg name="has_imu"         value="$(arg has_imu)"/>
        <arg name="gazebo"           value="$(arg gazebo)"/>
        <arg name="lite"             value="$(arg lite)"/>
        <arg name="laser"            value="$(arg laser)"/>
    </include>

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
            args="-d $(find champ_description)/rviz/urdf_viewer.rviz -f $(arg base_frame)"
            output="screen"/>
</launch>