<launch>
    <arg name="joints_map_file"  default="$(find champ_config)/config/joints/joints.yaml"/>
    <arg name="description_file" default="$(find champ_description)/urdf/champ.urdf"/>
    <arg name="base_frame"       default="base_link"/>
    <arg name="rviz"             default="false"/>
    <arg name="laser"            default="d435"/>
    <arg name="has_odom"         default="false" />
    <arg name="gazebo"           default="false" />

    <include file="$(find champ_base)/launch/bringup.launch">
        <arg name="joints_map_file" value="$(arg joints_map_file)"/>
        <arg name="description_file" value="$(arg description_file)"/>
        <arg name="gazebo" value="$(arg gazebo)"/>
        <arg name="has_odom" value="$(arg has_odom)"/>
        <arg name="laser" value="$(arg laser)"/>
    </include>

    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_laser" args="0 0 0 0 0 0 /base_link /laser" />
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_link_to_imu" args="0 0 0 0 0 0 /base_link /imu_link" />

    <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
            args="-d $(find champ_description)/rviz/urdf_viewer.rviz -f $(arg base_frame)"
            output="screen"/>
</launch>