<launch>
    <arg name="robot_name"             default="/"/>
    <arg name="base_frame"             default="base_link" />
    <arg name="joints_map_file"        default="$(find champ_config)/config/joints/joints.yaml"/>
    <arg name="links_map_file"         default="$(find champ_config)/config/links/links.yaml"/>
    <arg name="gait_config_file"       default="$(find champ_config)/config/gait/gait.yaml"/>
    <arg name="description_file"       default="$(find champ_description)/urdf/champ.urdf"/>
    <arg name="gazebo"                 default="false" />
    <arg name="rviz"                   default="false"/>
    <arg name="rviz_ref_frame"         default="odom"/>
    <arg name="has_imu"                default="true" />
    <arg name="lite"                   default="false" />
    <arg name="close_loop_odom"        default="false" />
    <arg name="publish_foot_contacts"  default="true" />
    <arg name="publish_joint_control"  default="true" />
    <arg name="laser"                  default="sim"/>
    <arg name="joint_controller_topic" default="joint_group_position_controller/command" />
    <arg name="hardware_connected"     default="false" />

    <arg if="$(eval arg('robot_name') == '/')"  name="frame_prefix" value="" />
    <arg unless="$(eval arg('robot_name') == '/')" name="frame_prefix" value="$(arg robot_name)/" />

    <include file="$(find champ_bringup)/launch/bringup.launch">
        <arg name="robot_name"             value="$(arg robot_name)"/>
        <arg name="base_frame"             value="$(arg base_frame)"/>
        <arg name="joints_map_file"        value="$(arg joints_map_file)"/>
        <arg name="links_map_file"         value="$(arg links_map_file)"/>
        <arg name="gait_config_file"       value="$(arg gait_config_file)"/>
        <arg name="description_file"       value="$(arg description_file)"/>
        <arg name="has_imu"                value="$(arg has_imu)"/>
        <arg name="gazebo"                 value="$(arg gazebo)"/>
        <arg name="lite"                   value="$(arg lite)"/>
        <arg name="laser"                  value="$(arg laser)"/>
        <arg name="rviz"                   value="$(arg rviz)"/>
        <arg name="rviz_ref_frame"         value="$(arg frame_prefix)$(arg rviz_ref_frame)"/>
        <arg name="joint_controller_topic" value="$(arg joint_controller_topic)" />
        <arg name="hardware_connected"     value="$(arg hardware_connected)" />
        <arg name="publish_foot_contacts"  value="$(arg publish_foot_contacts)" />
        <arg name="publish_joint_control"  value="$(arg publish_joint_control)" />
        <arg name="close_loop_odom"        value="$(arg close_loop_odom)" />
    </include>
</launch>