<?xml version='1.0'?>

<model>
  <name>DRC Practice: Truss</name>
  <version>0.1.0</version>
  <sdf version='1.4'>model-1_4.sdf</sdf>
  <sdf version='1.5'>model.sdf</sdf>
  <author>
    <name>Christina Gomez</name>
    <email>cgomez@swri.org</email>
  </author>
  <description>
    This model approximates a the DRC Trials Aluminum Truss.
  </description>
</model>
