<launch>
    <arg name="frame_prefix" default=""/>

    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="base_frame" value="$(arg frame_prefix)base_footprint" />
        <param name="odom_frame" value="$(arg frame_prefix)odom" />
        <param name="map_frame"  value="/$(arg frame_prefix)map" />

        <param name="map_update_interval" value="15.0"/>
        <param name="maxUrange" value="5.0"/>
        <param name="minRange" value="-0.5"/>
        <param name="sigma" value="0.05"/>
        <param name="kernelSize" value="1"/>
        <param name="lstep" value="0.05"/>
        <param name="astep" value="0.05"/>
        <param name="iterations" value="5"/>
        <param name="lsigma" value="0.075"/>
        <param name="ogain" value="3.0"/>
        <param name="lskip" value="0"/>
        <param name="minimumScore" value="100"/>
        <param name="srr" value="0.01"/>
        <param name="srt" value="0.02"/>
        <param name="str" value="0.01"/>
        <param name="stt" value="0.02"/>
        <param name="linearUpdate" value="0.7"/>
        <param name="angularUpdate" value="0.7"/>
        <param name="temporalUpdate" value="-0.5"/>
        <param name="resampleThreshold" value="0.5"/>
        <param name="particles" value="50"/>
        <param name="xmin" value="-50.0"/>
        <param name="ymin" value="-50.0"/>
        <param name="xmax" value="50.0"/>
        <param name="ymax" value="50.0"/>
        <param name="delta" value="0.05"/>
        <param name="llsamplerange" value="0.05"/>
        <param name="llsamplestep" value="0.05"/>
        <param name="lasamplerange" value="0.005"/>
        <param name="lasamplestep" value="0.005"/>
        <param name="transform_publish_period" value="0.1"/>
    </node>
</launch>