<launch>
	<node pkg="octomap_server" type="octomap_server_node" name="octomap_server">
		<param name="resolution" value="0.05" />

		<!-- fixed map frame (set to 'map' if SLAM or localization running!) -->
		<param name="frame_id" type="string" value="map" />

		<!-- maximum range to integrate (speedup!) -->
		<param name="sensor_model/max_range" value="3.0" />

		<param name="filter_ground" value="true" />

		<!-- data source to integrate (PointCloud2) -->
		<remap from="cloud_in" to="camera/depth_registered/points" />
	</node>

    <include file="$(find champ_navigation)/launch/slam/hector_mapping.launch" />
</launch>
