<launch>
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch"/>

    <node name="depthimage_to_laserscan" pkg="depthimage_to_laserscan" type="depthimage_to_laserscan" output="screen">
        <remap from="image" to="/camera/aligned_depth_to_color/image_raw"/>
        <remap from="camera_info" to="/camera/aligned_depth_to_color/camera_info"/>
        <param name="output_frame_id" value="laser" />
    </node>
</launch>