<launch>
    <!-- Start ROS communication between the robot's computer and base -->
    <arg name="sim"              default="false" />
    <arg name="gazebo"           default="false" />
    <arg name="has_odom"         default="false" />
    <arg name="joints_map_file"  default="$(find champ_config)/config/joints/joints.yaml"/>
    <arg name="description_file" default="$(find champ_description)/urdf/champ.urdf"/>
    <arg name="laser"            default="d435" />

    <include file="$(find champ_base)/launch/include/tf.launch" />

    <node pkg="rosserial_python" name="rosserial_champ" type="serial_node.py" output="screen">
        <param if="$(arg sim)" name="port" value="/tmp/simavr-uart0" />
        <param unless="$(arg sim)" name="port" value="/dev/ttyACM0" />
        <param if="$(arg sim)" name="fix_pyserial_for_test" value="true" />
        <param unless="$(arg sim)" name="fix_pyserial_for_test" value="false" />
        <param name="baud" value="500000" />
        <!-- <remap from="champ/cmd_vel" to="cmd_vel" /> -->
    </node>

    <include file="$(find champ_base)/launch/include/velocity_smoother.launch" />
    
    <node if="$(arg has_odom)" pkg="robot_localization" type="ekf_localization_node" name="ekf_localization"> 
        <remap from="odometry/filtered" to="odom" />
        <rosparam command="load" file="$(find champ_base)/config/ekf/ekf.yaml" />
    </node>

    <node unless="$(arg has_odom)" pkg="laser_scan_matcher" type="laser_scan_matcher_node" 
        name="laser_scan_matcher_node" output="screen">
        <param name="fixed_frame" value = "odom"/>
        <param name="base_frame" value = "base_footprint"/>
        <param name="max_iterations" value="10"/>
    </node>

    <include file="$(find champ_description)/launch/description.launch">
        <arg name="description_file" value="$(arg description_file)"/>
    </include>

    <node pkg="champ_base" name="imu_relay" type="imu_relay.py" output="screen"/>
    <node pkg="champ_base" name="pose_relay" type="pose_relay.py" output="screen"/>
    <node pkg="champ_base" name="foot_relay" type="foot_relay.py" output="screen"/>
    <node pkg="champ_base" name="joints_relay" type="joints_relay.py" output="screen">
        <rosparam command="load" file="$(arg joints_map_file)" />
    </node>

    <include unless="$(arg gazebo)" file="$(find champ_base)/launch/include/laser/$(arg laser).launch" />
</launch>