<launch>
    <arg name="gazebo"           default="false"/>
    <arg name="has_imu"          default="true"/>

    <node pkg="champ_base" name="foot_relay"     type="foot_relay.py"     output="screen"/>
    <node pkg="champ_base" name="odometry_relay" type="odometry_relay.py" output="screen"/>
    <node pkg="champ_base" name="imu_relay"      type="imu_relay.py"      output="screen" unless="$(arg gazebo)" />
    <node pkg="champ_base" name="joints_relay"   type="joints_relay.py"   output="screen">
        <param name="gazebo" value="$(arg gazebo)"/>
    </node>
    <node pkg="champ_base" name="pose_relay"     type="pose_relay.py"     output="screen">
        <param name="has_imu" value="$(arg has_imu)"/>
    </node>
</launch>