<?xml version="1.0"?>

<model>
  <name>DRC Practice: Orange Jersey Barrier</name>
  <version>1.0</version>
  <sdf version="1.4">model-1_4.sdf</sdf>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Nate Koenig</name>
    <email>nate@osrfoundation.com</email>
  </author>

  <author>
    <name>Christina Gomez</name>
    <email>@swri.org</email>
  </author>

  <description>
    An orange jersey barrier used in DRC Practice.
  </description>

</model>
