<launch>
    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find champ_description)/urdf/champ.urdf.xacro' " />
    
    <node name="champ_robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <param name="publish_frequency" type="double" value="100.0" />
        <param name="ignore_timestamp" type="bool" value="false" />
        <remap from="/joint_states" to="/champ/joint_states" />
    </node>
</launch>

