<launch>
    <arg name="robot_name"             default="/" />
    <arg name="base_frame"             default="base_link" />
    <arg name="joints_map_file"        default="$(find champ_config)/config/joints/joints.yaml"/>
    <arg name="links_map_file"         default="$(find champ_config)/config/links/links.yaml"/>
    <arg name="gait_config_file"       default="$(find champ_config)/config/gait/gait.yaml"/>
    <arg name="description_file"       default="$(find champ_description)/urdf/champ.urdf"/>
    <arg name="gazebo"                 default="false" />
    <arg name="rviz"                   default="false" />
    <arg name="rviz_ref_frame"         default="odom"/>
    <arg name="has_imu"                default="true" />
    <arg name="lite"                   default="false" />
    <arg name="laser"                  default="sim" />
    <arg name="joint_controller_topic" default="joint_group_position_controller/command" />
    <arg name="hardware_connected"     default="false" />
    <arg name="publish_joint_control"  default="true" />
    <arg name="publish_foot_contacts"  default="true" />
    <arg name="publish_odom_tf"        default="true" />
    <arg name="close_loop_odom"        default="false" />

    <group ns="$(arg robot_name)">
        <param name="tf_prefix" value="$(arg robot_name)"/>
        <param if="$(arg gazebo)" name="use_sim_time" value="true"/>

        <!-- ==================== LOAD PARAMETERS ==================== -->
        <include file="$(find champ_description)/launch/description.launch">
            <arg name="description_file" value="$(arg description_file)"/>
        </include>
        <rosparam command="load" ns="gait"       file="$(arg gait_config_file)" />
        <rosparam command="load" ns="links_map"  file="$(arg links_map_file)" />
        <rosparam command="load" ns="joints_map" file="$(arg joints_map_file)" />


        <!-- ==================== HARDWARE ==================== -->
        <include file="$(find champ_bringup)/launch/include/laser/$(arg laser).launch" />

        <node if="$(arg lite)" pkg="rosserial_python" name="rosserial_champ" type="serial_node.py" output="screen" respawn="true">
            <param name="port" value="/dev/ttyACM0" />
            <param name="baud" value="500000" />
        </node>

        <node if="$(arg lite)" pkg="champ_base" name="message_relay" type="message_relay_node" output="screen">
            <param                        name="gazebo"  value="$(arg gazebo)" />
            <param if="$(arg gazebo)"     name="has_imu" value="false"/>       
            <param unless="$(arg gazebo)" name="has_imu" value="$(arg has_imu)"/>       
        </node>

        <!-- ==================== CONTROLLER ==================== -->
        <include file="$(find champ_bringup)/launch/include/velocity_smoother.launch" />

        <node unless="$(arg lite)" pkg="champ_base" name="champ_controller" type="quadruped_controller_node" output="screen">
            <param                                    name="gazebo"                 value="$(arg gazebo)" />
            <param if="$(arg hardware_connected)"     name="publish_joint_states"   value="false" />
            <param unless="$(arg hardware_connected)" name="publish_joint_states"   value="true" />
            <param                                    name="publish_foot_contacts"  value="$(arg publish_foot_contacts)" />
            <param                                    name="publish_joint_control"  value="$(arg publish_joint_control)" />
            <param                                    name="joint_controller_topic" value="$(arg joint_controller_topic)" />
        </node>

        <!-- ==================== STATE ESTIMATION ==================== -->
        <node pkg="champ_base" name="state_estimator" type="state_estimation_node" output="screen">
            <param if="$(arg hardware_connected)" name="orientation_from_imu" value="true"/>
            <param if="$(arg gazebo)" name="orientation_from_imu" value="true"/>            
        </node>

        <node pkg="robot_localization" type="ekf_localization_node" name="base_to_footprint_ekf"> 
            <remap from="odometry/filtered" to="odom/local" />
            <param name="base_link_frame" value="$(arg base_frame)" />
            <rosparam command="load" file="$(find champ_base)/config/ekf/base_to_footprint.yaml" />
        </node>

        <node if="$(arg publish_odom_tf)" pkg="robot_localization" type="ekf_localization_node" name="footprint_to_odom_ekf"> 
            <remap from="odometry/filtered" to="odom" />
            <rosparam command="load" file="$(find champ_base)/config/ekf/footprint_to_odom.yaml" />
        </node>
        
        <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz"
            args="-d $(find champ_description)/rviz/urdf_viewer.rviz -f $(arg rviz_ref_frame)"
            output="screen"/>
    </group>
</launch>