<launch>
    <arg name="robot_name"       default="/"/>
    <arg name="use_sim_time"     default="true"/>
    <arg name="gui"              default="true"/>
    <arg name="headless"         default="false"/>
    <arg name="paused"           default="false"/>
    <arg name="lite"             default="false" />
    <arg name="ros_control_file" default="$(find champ_gazebo)/config/ros_control.yaml" />

    <!-- this should be only called once on multi-robot simulation -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find champ_gazebo)/worlds/outdoor.world"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <group ns="$(arg robot_name)">
        <!-- remember to define initial position of robot on multi-robot simulation -->
        <node  name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model champ -param robot_description -robot_namespace $(arg robot_name) -z 0.6" />

        <rosparam file="$(arg ros_control_file)" command="load"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
            joint_states_controller
            joint_group_position_controller
            ">
        </node>

        <node pkg="champ_gazebo" name="contact_sensor" type="contact_sensor" output="screen"/>
    </group>
</launch>

