<launch>
    <arg name="robot_name"            default="/"/>
    <arg name="use_sim_time"          default="true"/>
    <arg name="gui"                   default="true"/>
    <arg name="headless"              default="false"/>
    <arg name="paused"                default="false"/>
    <arg name="lite"                  default="false" />
    <arg name="ros_control_file"      default="$(find champ_gazebo)/config/ros_control.yaml" />
    <arg name="gazebo_world"          default="$(find champ_gazebo)/worlds/outdoor.world" />
    <arg name="world_init_x"          default="0.0" />
    <arg name="world_init_y"          default="0.0" />
    <arg name="world_init_z"          default="0.6" />
    <arg name="world_init_heading"    default="0.0" />
    <arg name="enable_contact_sensor" default="true" />
    <arg name="respawn_controller"    default="false"/>

    <!-- this should be only called once on multi-robot simulation -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg gazebo_world)"/>
        <arg name="gui" value="$(arg gui)" />
        <arg name="paused" value="$(arg paused)"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="$(arg headless)"/>
    </include>

    <group ns="$(arg robot_name)">
        <node  name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_name)  
        -param robot_description -robot_namespace $(arg robot_name) 
        -x $(arg world_init_x) -y $(arg world_init_y) -z $(arg world_init_z) -Y $(arg world_init_heading)" />

        <rosparam file="$(arg ros_control_file)" command="load"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="$(arg respawn_controller)"
            output="screen" args="joint_states_controller joint_group_position_controller">
        </node>

        <node if="$(arg enable_contact_sensor)"  pkg="champ_gazebo" name="contact_sensor" type="contact_sensor" output="screen"/>
    </group>
</launch>

