<launch>
    <arg name="robot_name"         default="/"/>
    <arg name="lite"               default="false" />
    <arg name="ros_control_file"   default="$(find champ_gazebo)/config/ros_control.yaml" />
    <arg name="world_init_x"       default="0.0" />
    <arg name="world_init_y"       default="0.0" />
    <arg name="world_init_z"       default="0.6" />
    <arg name="world_init_heading" default="0.0" />

    <group ns="$(arg robot_name)">
        <node  name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -model $(arg robot_name)  
        -param robot_description -robot_namespace $(arg robot_name) 
        -x $(arg world_init_x) -y $(arg world_init_y) -z $(arg world_init_z) -Y $(arg world_init_heading)" />

        <rosparam file="$(arg ros_control_file)" command="load"/>
        <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="
            joint_states_controller
            joint_group_position_controller
            ">
        </node>

        <node pkg="champ_gazebo" name="contact_sensor" type="contact_sensor" output="screen"/>
    </group>
</launch>

