<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find champ_navigation)/maps/map.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find champ_navigation)/launch/amcl.launch" />
    
    <!-- Calls navigation stack packages for compatible Linorobot base -->
    <!-- Takes reference from env variable LINOBASE. ie. export LINOBASE=2wd -->
    <include file="$(find champ_navigation)/launch/move_base.launch" />
</launch>
