<launch>
    <!-- Map server -->
    <arg name="map_file" default="$(find champ_navigation)/maps/map.yaml"/>
    <node pkg="map_server" name="map_server"  type="map_server" args="$(arg map_file)" />

    <!-- AMCL used for localization -->
    <include file="$(find champ_navigation)/launch/navigation/amcl.launch" />
    
    <!-- Calls navigation stack packages -->
    <include file="$(find champ_navigation)/launch/navigation/move_base.launch" />
</launch>
